#sidebar {
    width: 250px;
    transition: width 0.3s;
}

#sidebar.collapsed {
    width: 80px !important;
}

#sidebar-menu .sidebar-text {
    transition: opacity 0.3s ease;
}

#sidebar.collapsed #sidebar-menu .sidebar-text {
    display: none;
}

#sidebar #sidebar-menu li i {
    min-width: 24px;
}

#sidebar-logo img {
    height: 50px;
    transition: height 0.3s ease;
}
.required-star {
    color: red  !important;
}

#sidebar.collapsed #sidebar-logo img {
    height: 40px !important;
}
